.faq {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;


  &-item {
    border-radius: 2.2rem;
    overflow: hidden;
    background: #16141B;
    @media (max-width: 768px) {
      border-radius: 1.8rem;
    }

    &:not(.active) {
      .faq-item-head:hover {
        background-color: #E32A2F;

        .faq-item__number span {
          color: #fff;
        }

        svg {
          path {
            stroke: #fff;
          }
        }
      }

    }

    &.active {
      .faq-item__icon {
        svg path:last-child {
          opacity: 0;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }

    &-content {
      position: relative;
      display: none;
    }

    &-text {
      border-top: 1px solid #2B292F;
      padding-top: 1.6rem;
      margin: 2.6rem;
      margin-top: 0;
      @media (max-width: 768px) {
        margin: 1.6rem;
        margin-top: 0;
      }

      .text {
        width: 100%;
        max-width: 80.3rem;
      }
    }

    &__number {
      flex-grow: 0;
      flex-shrink: 0;

      span {
        display: inline-block;
        padding: 0 1.6rem;
        color: #E32A2F;
        transition: 0.4s ease-in-out;
        @media (max-width: 768px) {
          padding: 0 1rem;
        }
      }
    }

    &__title {
      padding-right: 2rem;
    }

    &__icon {
      margin-left: auto;
      display: flex;
      width: 3.4rem;
      height: 3.4rem;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      flex-grow: 0;

      svg {
        path {
          transition: 0.2s ease-in-out;
          stroke: #E32A2F;
        }
      }
    }

    &-head {
      padding: 2.8rem 2.6rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #16141B;
      color: #FFF;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 500;
      line-height: 3rem;
      transition: 0.4s ease-in-out;
      cursor: pointer;
      @media (max-width: 768px) {
        align-items: flex-start;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        line-height: 2rem;

      }
    }
  }

  &-section{
    &.section--dark {
      .faq-item{
        background: rgba(40, 39, 49, 0.35);
      }
      .faq-item-head {
        background: rgba(40, 39, 49, 0);
      }
    }
  }
}