.reviews {
  &-slider {
    display: flex;

    &-controls {
      top: 5rem;
      @media (max-width: 600px) {
        top: 2rem;
      }
      @media (max-width: 450px) {
        position: static;
        margin-bottom: 2rem;
      }
    }

    .review {
      margin: auto;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;
    }
  }
  &-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.review {
  width: 98%;
  max-width: 61.3rem;
  border-radius: 2.2rem;
  padding: 2.4rem;
  background: rgba(40, 39, 49, 0.35);
  @media (max-width: 1300px) {
    padding: 1.4rem;
  }
  &__date {
    color: #A7A6A8;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem;
  }

  &__name {
    &:not(:last-child) {
      margin-bottom: 0.6rem;
    }

    color: #FFF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
  }

  &__avatar {
    margin-right: 1.6rem;
    width: 6.4rem;
    height: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;

    img {
      object-fit: cover;
    }
  }

  &-head {
    display: flex;
    margin-bottom: 5.6rem;
    @media (max-width: 600px) {
      margin-bottom: 2rem;
    }
  }
}