
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 2rem 3.2rem;
  border-radius: 1.4rem;
  background: #E32A2F;
  border: 1px solid  #E32A2F;
  color: #FFF;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;

  }
  svg path{
    transition: 0.4s ease-in-out;
    fill: #fff;
  }
  &--dark{
    background: rgba(#E32A2F, 0);
  }
  &:hover{
    background: #FFF;
    color: #E32A2F;
    svg path{
      fill: #E32A2F;
    }
  }
}

.copy-button{
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}