.head {
  &-container {
    position: relative;
    z-index: 2;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 57rem;
    width: 100%;
    max-width: 82rem;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 1600px){
      padding-top: 40rem;
    }
    @media (max-width: 450px){
      padding-top: 38rem;
    }
  }

  &__subtitle{
    width: 100%;
    max-width: 70rem;
    margin: 0 auto 2rem;
    color: #A7A6A8;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
  }

  &-section {
    position: relative;
    padding-bottom: 9rem;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    @media (max-width: 1024px){
      padding-bottom: 3rem;
    }
    &:before, &:after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      left: 0;
    }

    &:before {
      top: 0;
      height: 40.3rem;
      background: linear-gradient(180deg, rgba(14, 13, 19, 0.00) 0%, rgba(14, 13, 19, 0.70) 95.47%);
      transform: rotate(180deg);
    }

    &:after {
      bottom: 0;
      height: calc(100% - 40.3rem);
      background: linear-gradient(180deg, rgba(14, 13, 19, 0.00) 0%, #0E0D13 95.47%);
    }
  }
}

body[data-mobile="mobile"][data-screen-position="horizontal"]{
  .head-container{
    @media (max-width: 900px){
      padding-top: 17rem;
    }
  }
}